footer{
    height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), image(url(Pictures/logo.jpeg));
      background-size: cover;
      background-position: center;
      color: white;
      padding: 15px;
}